ASTERISK_LOGIN=
ASTERISK_PASSWORD=
GOOGLE_APPLICATION_CREDENTIALS=

PBX_IP=
LISTENER_SERVER=
WSS_PORT=
EXTERNAL_HOST=
ASTERISK_PASSWORD=
ASTERISK_LOGIN=


FROM_NUMBER=""
FROM_NUMBER2 = "" // Hallo
FROM_NUMBER3 = "" // Voim.ms
MAGDA = ""
GAJUK = "+48"
TEST_PHONE = "+48" // Voip.ms Bria
TEST_PHONE2 = "+31" // Twilio
SIP_PROVIDER = ""