GOOGLE_APPLICATION_CREDENTIALS=

PBX_IP=
LISTENER_SERVER=
WSS_PORT=
EXTERNAL_HOST=
ASTERISK_LOGIN=
ASTERISK_PASSWORD=



FROM_NUMBER="" // Hallo
FROM_NUMBER2 = "" // Voim.ms
EXAMPLE_CALL_TO_NUMBER1 = ""
EXAMPLE_CALL_TO_NUMBER2 = "+48"
TEST_PHONE = "+48" // Voip.ms Bria
TEST_PHONE2 = "+31" // Twilio
SIP_PROVIDER = ""